.counter-primary {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: rgba(174, 174, 174, 0.5);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.header-grid{
  display: flex ;
  flex-direction: column;
}
.c-grid-home {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.c-title{
  margin: 20px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  color:#6e0008;
  text-shadow: 0 0 5px white, 0 0 5px white;
  font-size: 45px;
}
.description{
  text-align: left;
}
.c-primary {
  margin: auto;
}
.show-img{
  height: 250px;
  width: 250px;
  border-radius: 20px;
}
@media screen and (max-width: 1000px) {
  .c-grid-home{
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  }
  .primary-grid {
    display: grid;
    grid-template-columns: auto;
  }
  .show-img {
    height: 150px;
    width: 150px;
  }
}
