.game_title{
    margin: 20px;
    font-family: Cameliya;
    color:white;
    text-shadow: 0 0 5px black, 0 0 5px black;
    font-size: 55px;
}

.blade-animation {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}


@keyframes spin { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}