.title {
  text-align: center;
  margin-top: -30px;
}

.sidebar {
  position: fixed;
  top: 290px;
}
div.content {
  padding-left: 250px;
}
.home_title {
  margin-top: 100px;
  text-decoration: none;
  font-family: Cameliya;
  color: #6e0008;
  font-size: 30px;
  margin: 0;
}
.selector {
  display: grid;
  grid-auto-flow: row;
  margin: 20px;
}
.selector-info {
  display: grid;
  grid-auto-flow: row;
}
.grid-home {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.home-content {
  margin: auto;
}
.show-img1 {
  height: 100px;
  width: 100px;
  border: 0;
  background-color: transparent;
}
.grid-element {
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .title {
    text-align: center;
    margin-top: 45px;
  }
  .home-content {
    margin: auto;
  }
  .sidebar {
    position: relative;
    top: 0;
  }
  div.content {
    padding-left: 0;
  }
}
