.main-layout {
  min-height: 100vh;
  min-height: 100dvh;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;  
  background-image: url("./sandias.jpg"); */
  background-image: linear-gradient(
    to bottom,
    rgb(172, 212, 251)  0%,
    #1874D2  50%,
    #1874D2 100%
  );
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.style-body{

}
.newMenu{
  background-color: #45a1ff;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr; 
}
.newMenu a{
  text-decoration: none;
  font-size: 17px;
  font-weight: 900;
  display: inline-block;
  padding: 5px;
  color: #6e0008;
  
   /* 1 pixel black shadow to left, top, right and bottom */
   text-shadow: 0 0 5px rgb(247, 247, 247), 0 0 5px rgb(222, 222, 222);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.newMenu a:hover{
  cursor: pointer;
  color: black;
 
}
.header__title{
  font-family: "Cameliya";
  text-decoration: none;
  font-weight: 900;
}
.footer-style {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: white;
}
