.main-layout {
  min-height: 100vh;
  min-height: 100dvh;
  /* background-color: rgb(221, 16, 16); */
  background-color: #6db966;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.style-body {
  background-color: #ffeeee;
}
.footer-style {
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 5px;
  background-color: #45a1ff;
  color: white;
}
